mixin svg(addClass, addId)
  svg(class=addClass)
    use(xlink:href=`assets/img/sprite/sprite.svg#${addId}`)
    
.wrapper
  .maincontent
    include _header

    section(class='section section__about')
      .about.about_column_left
        .about__title_transparent
          img.title_pic-transparent(src="assets/img/about_header_left_bg.png", alt="about-bg")
        .title.about__title
          .h1 Обо мне
        .about-user
          .about-user__image
            img(class='about-user__pic' src='assets/img/user-pic.jpg', alt='user-pic')
          .title.about-user__title.subtitle
            .h3 Кто я
          .about-user__text
            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about.about_column_right
        .about-info
          .about-info__description.about-user-info
            .about-user-info__title
              .title.about__title.subtitle.about__subtitle
                .h3_br Чем я могу быть<br> вам полезен
            .about-user-info__text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .about-info__content
            ul.skills
              li.skills__item
                .skill-section
                  .skill-section__title Frontend
                    ul.skill-section__list
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-90(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name HTML5
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name CSS3
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name jQuery
            ul.skills
              li.skills__item
                .skill-section
                  .skill-section__title Backend
                    ul.skill-section__list
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-90(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name PHP
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name MySQL
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name Node.js<br>&npm
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name Mongo.db
            ul.skills
              li.skills__item
                .skill-section
                  .skill-section__title Workflow
                    ul.skill-section__list
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-90(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name Git
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name Gulp
                      li.skills-section__item
                        .skill
                          svg.skill__circle(viewbox='0 0 110 110')
                            circle.skill__circle_first(r='45', cx='50%', cy='50%', fill='none')
                            circle.skill__circle_second.circle-85(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                          .skill__name Bower
    
    section.section.section__full-screen.section__map(style='background-image:url(assets/img/map.jpg)')
      .map.map__contacts.contacts.login-box
        .title.about__title.subtitle 
          .h3 Контакты
        ul.contacts__list
          li.contacts__item
            +svg('contacts__icon','skype_n')
            .contacts__text skype_kdn
          li.contacts__item
            +svg('contacts__icon','envelope')
            .contacts__text astahov@gmail.com
          li.contacts__item
            +svg('contacts__icon','phone')
            .contacts__text +7 931 200 93 24
          li.contacts__item
            +svg('contacts__icon','map_marker')
            .contacts__text г.Новосибирск, ул. Инская, д. 5
        
      footer.footer.footer_position_absolute
        .footer_row_top
          nav.navigation.navigation_location_footer
            ul.navigation_location_footer__list
              each item in ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
                li.navigation_location_footer__item
                  a(href='#' class='navigation_location_footer__link')= item
          
          .footer__socials.socials
            ul.socials__list.socials__list_footer
              li.socials__item.socials__item_footer
                a(href='#' class=`socials__link socials__link_footer socials__link_vk`)
                  +svg('socials__icon socials__icon_footer','vk_round')
              li.socials__item.socials__item_footer
                a(href='#' class=`socials__link socials__link_footer socials__link_git`)
                  +svg('socials__icon socials__icon_footer','github_round')
              li.socials__item.socials__item_footer
                a(href='#' class=`socials__link socials__link_footer socials__link_in`)
                  +svg('socials__icon socials__icon_footer','in_round')
        
        .footer_row_bottom
          .footer__text.footer__text_left
            .footer__text_about
              | Я веб-разработчик из Киева, и этот сайт я сделал в рамках<br> обучения в Школе онлайн образования LoftSchool. 
          .footer__text.footer__text_right
            .copyright 
              | © Андрей Секачев | создано с любовью в LoftSchool