include ../mixins/mixin

header.header
  #header__bg.header__bg
  .header__top-line
    ul.socials.text_color_rgba-white
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','vk')
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','github')
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','in')
    
    .hamburger
      span.hamburger__line
      span.hamburger__line
      span.hamburger__line
  
  .header__title_transparent
    img#title_image_transparent(src="assets/img/portfolio_header_bg.png", alt="portfolio header")

  #login-box.login-box.login-box__bg_transparent
    .login-box__pic
      img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
    span.login-box__title_35px
      | Андрей Секачев
    span.login-box__subtitle_header
      | Личный сайт веб разработчика
  a.arrow-scroll_header_down(href='#')
    +svg('arrow-scroll_header','arrow_down')
  +triangles_absolute('triangles', 'triangles_fill_white', 'triangles_fill_white')