include ../mixins/mixin

header.header
  .header__top-line
    ul.socials.text_color_rgba-white
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','vk')
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','github')
      li.socials__item.social__item_header
        a.socials__link.socials__link_header(href='#')
          +svg('socials__icon socials__icon_header','in')
    
    +svg('hamburger-menu__icon','hamburger')
  
  .header__title_transparent
    img.title_image_transparent(src="assets/img/portfolio_header_bg.png", alt="portfolio header")

  .login-box.login-box__bg_transparent
    .login-box__pic
      img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
    span.login-box__title_35px
      | Андрей Секачев
    span.login-box__subtitle_header
      | Личный сайт веб разработчика
  a.arrow-scroll_header_down(href='#')
    +svg('arrow-scroll_header','arrow_down')
  svg(class='triangles triangles_pos_absolute' xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 100', preserveAspectRatio='none')
    polygon(class='triangles_fill_grey' points='0,0 0,100 500,100 500,90')
    polygon(class='triangles_fill_beige' points='1000,0   1000,100   500,100   500,90')