.wrapper
  .maincontent
    section(class="section section__full-screen section-welcome" style='background-image:url(assets/img/main-bg.jpg);')
      button.button-auth Авторизоваться
      .container
        .login-box
          .login-box__pic(style='background-image: url(img/content/photo_small.jpg);')
            img.login-box__pic-elem(src='img/content/photo_small.jpg', alt='Аватар')
          .login-box__name
            | Андрей Секачев
          .login-box__descr
            | Личный сайт веб разработчика
          .socials
            ul.socials__list
              li.socials__item
                a.social__link(href="#") vk
              li.socials__item 
                a.social__link(href="#") git
              li.socials__item
                a.social__link(href="#") in
          .pages
            ul.pages__list
              li.pages__item
                a.pages__link(href="#") Мои работы
              li.pages__item
                a.pages__link(href="#") Обо мне
              li.pages__item
                a.pages__link(href="#") Блог
footer.footer
  .container
    .footer__text
      .copyright © Андрей Секачев | создано с любовью в LoftSchool       
      