mixin svg(addClass, addId)
  svg(class=addClass)
    use(xlink:href=`assets/img/sprite/sprite.svg#${addId}`)

.wrapper
  .maincontent
    section(class="section section__full-screen section-welcome" style='background-image:url(assets/img/main-bg.jpg);')
      a.button.button-action-auth(href=('#')) Авторизоваться
      .login-box.login-box__welcome
        .login-box__pic
          img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
        .login-box__name.login-box__name_welcome
          | Андрей Секачев
        .login-box__descr.login-box__descr_welcome
          | Личный сайт веб разработчика
        .socials
          ul.socials__list
            li.socials__item.socials__item_welcome
              a(href='#' class=`socials__link socials__link_vk`)
                +svg('socials__icon socials__icon_welcome','vk')
            li.socials__item.socials__item_welcome
              a(href='#' class=`socials__link socials__link_git`)
                +svg('socials__icon socials__icon_welcome','github')
            li.socials__item.socials__item_welcome
              a(href='#' class=`socials__link socials__link_in`)
                +svg('socials__icon socials__icon_welcome','in')
        nav.navigation.navigation_location_welcome
          ul.navigation_location_welcome__list
            li.navigation_location_welcome__item
              a(href=`works.html` class='navigation_location_welcome__link') Мои работы
            li.navigation_location_welcome__item
              a(href=`about.html` class='navigation_location_welcome__link') Обо мне
            li.navigation_location_welcome__item
              a(href=`blog.html` class='navigation_location_welcome__link') Блог
    footer.footer.footer__welcome
      .footer__text_welcome
        .copyright © Андрей Секачев | создано с любовью в LoftSchool       
      