include ../mixins/mixin

.wrapper
  .maincontent
    .preloader
      .preloader__spinner
        .preloader__animation
        .preloader__percents 0%
    #parallax.parallax
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/2.png", alt="parallax layer")
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/3.png", alt="parallax layer")
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/4.png", alt="parallax layer")
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/5.png", alt="parallax layer")
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/6.png", alt="parallax layer")
      .parallax__layer
        img.parallax__image(src="assets/img/parallax/7.png", alt="parallax layer")
    section.welcome.section_height_100vh
      button.button.button_pos_absolute#flip-to-back
        span.text_color_accent.text_color_white Авторизоваться
      .flip-container
        .flipper
          .login-box.login-box__welcome
            .login-box__pic
              img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
            span.login-box__title.text_size_28
              | Андрей Секачев
            span.login-box__subtitle
              | Личный сайт веб разработчика
            ul.socials.login-box__socials.socials_color_cyan
              li.socials__item.socials__item_welcome
                a(href='#' class=`socials__link`)
                  +svg('socials__icon','vk')
              li.socials__item.socials__item_welcome
                a(href='#' class=`socials__link`)
                  +svg('socials__icon','github')
              li.socials__item.socials__item_welcome
                a(href='#' class=`socials__link`)
                  +svg('socials__icon','in')
            nav.navigation
              ul.navigation__list
                li.navigation__item
                  a(href=`works.html` class='navigation__link')
                    span.text_color_white Мои работы
                li.navigation__item
                  a(href=`about.html` class='navigation__link')
                    span.text_color_white Обо мне
                li.navigation__item
                  a(href=`blog.html` class='navigation__link')
                    span.text_color_white Блог

          .login-block
            .title.login-block__title.text_font_35
              span.title__text Авторизируйтесь
            form.form.form-auth
              .form__inputs-block
                label.form__label.form__label_login
                  input.form__input(type='text' placeholder='Логин')
                label.form__label.form__label_pass
                  input.form__input(type='password' placeholder='Пароль')
              .form__checks
                label.form__label_check
                  input.form__input(type='checkbox')
                  span.label-text.label-text_checkbox Я человек
                .form__checks-text
                  span.text Вы точно не робот?
                .form__answers
                  label.form__label_radio
                    input.form__input(type='radio' name='choice' value='yes')
                    span.label-text.label-text_radio Да
                  label.form__label_radio
                    input.form__input(type='radio' name='choice' value='no')
                    span.label-text.label-text_radio Не уверен
            .form__buttons
              button.button_auth.button_trigger#flip-to-front(type='button')
                span.text_color_white На главную
              button.button_auth.button_submit(type='submit')
                span.text_color_white Войти

      footer.footer.welcome__footer
        span.footer__copyright © Андрей Секачев | создано с любовью в LoftSchool       
      