include ../mixins/mixin

.wrapper
  .maincontent
    section.welcome.section_height_100vh
      button.button.button_pos_absolute
        span.text_color_accent.text_color_white Авторизоваться
      .login-box.login-box__welcome
        .login-box__pic
          img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
        span.login-box__title.text_size_28
          | Андрей Секачев
        span.login-box__subtitle
          | Личный сайт веб разработчика
        ul.socials.login-box__socials.socials_color_cyan
          li.socials__item.socials__item_welcome
            a(href='#' class=`socials__link`)
              +svg('socials__icon','vk')
          li.socials__item.socials__item_welcome
            a(href='#' class=`socials__link`)
              +svg('socials__icon','github')
          li.socials__item.socials__item_welcome
            a(href='#' class=`socials__link`)
              +svg('socials__icon','in')
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a(href=`works.html` class='navigation__link')
                span.text_color_white Мои работы
            li.navigation__item
              a(href=`about.html` class='navigation__link')
                span.text_color_white Обо мне
            li.navigation__item
              a(href=`blog.html` class='navigation__link')
                span.text_color_white Блог
      footer.footer.welcome__footer
        span.footer__copyright © Андрей Секачев | создано с любовью в LoftSchool       
      