mixin svg(addClass, addId)
  svg(class=addClass)
    use(xlink:href=`assets/img/sprite/sprite.svg#${addId}`)

.wrapper
  .maincontent
    section(class="section section__full-screen section-welcome" style='background-image:url(assets/img/main-bg.jpg);')
      button.button.welcome__button
        span.button__text Авторизоваться
      .login-box.login-box__welcome
        .login-box__pic
          img.login-box__pic-elem(src='assets/img/user.jpg', alt='user-photo')
        span.login-box__title.login-box__title_28px
          | Андрей Секачев
        span.login-box__subtitle
          | Личный сайт веб разработчика
        ul.socials__list.socials__list_margin-b_36px
          li.socials__item
            a(href='#' class=`socials__link`)
              +svg('socials__icon socials__icon_color_cyan','vk')
          li.socials__item
            a(href='#' class=`socials__link`)
              +svg('socials__icon socials__icon_color_cyan','github')
          li.socials__item
            a(href='#' class=`socials__link`)
              +svg('socials__icon socials__icon_color_cyan','in')
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a(href=`works.html` class='navigation__link') Мои работы
            li.navigation__item
              a(href=`about.html` class='navigation__link') Обо мне
            li.navigation__item
              a(href=`blog.html` class='navigation__link') Блог
    footer.footer.welcome__footer
      span.footer__copyright © Андрей Секачев | создано с любовью в LoftSchool       
      