include ../mixins/mixin

.wrapper
  .maincontent
    include _header-triangles-white

    .fullscreen-menu
      .fullscreen-menu__bg.fullscreen-menu__bg_left
      .fullscreen-menu__bg.fullscreen-menu__bg_right
      nav.fullscreen-menu__nav
        ul.fullscreen-menu__list
          li.fullscreen-menu__item
            a.fullscreen-menu__link.title.text_font_63(href="/works.html")
              span.title__text.text_color_white Мои работы
          li.fullscreen-menu__item
            a.fullscreen-menu__link.title.text_font_63(href="/about.html")
              span.title__text.text_color_white Обо мне
          li.fullscreen-menu__item
            a.fullscreen-menu__link.title.text_font_63(href="/blog.html")
              span.title__text.text_color_white Блог
          li.fullscreen-menu__item
            a.fullscreen-menu__link.title.text_font_63(href="/index.html")
              span.title__text.text_color_white Авторизация

    section.section.section_works
      .my-works
        .title.text_font_63.text_align_center
          span.title__text.text_line-height_184 Мои работы
      .slider
        .slider__descr.block_width_50
          .descrcription
            .title.text_font_35.text_align_center
              span.title__text.text_mb_30 Сайт школы онлайн<br> образования
            .cources 
              span.cources__text html, css, javascript
            a.button_link(href="#") 
              span.text_color_white Посмотреть сайт
        .slider__image_size_big.block_width_50
          img.slider_pic(src='assets/img/slider/work-1.png', alt='work-1')
        .slider__image_size_small.block_width_50
          .slider__image_small
            img.slider_pic.slider_pic_small(src='assets/img/slider/work-2.png', alt='work-2')
            .slider__arrow-scroll
              a.arrow-scroll_down(href='#')
                +svg('arrow-scroll__icon','portf_arrow_down')

          .slider__image_small
            img.slider_pic.slider_pic_small(src='assets/img/slider/work-3.png', alt='work-3')
            .slider__arrow-scroll
              a.arrow-scroll_up(href='#')
                +svg('arrow-scroll__icon','portf_arrow_up')
  
    .title.text_font_63.text_align_center.text_mb_15
      span.title__text Что обо мне<br> говорят 
    section.section.section_feedback      
      ul.feedback__list
        li.feedback__item
          .quotes
            img.quotes__icon(src="assets/img/icons/quotes.png", alt="quotes icon")
          .feedback__text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviewer
            .reviewer__pic
              img.reviever__pic_elem(src="assets/img/koval.jpg", alt="photo")
            .reviewer__info
              span.reviewer__text.reviewer__text_font_bold.reviewer__text_color_accent Ковальчук Дмитрий
              span.reviewer__text.reviewer__text_color_accent основатель Loftschool
              
        li.feedback__item
          .quotes
            img.quotes__icon(src="assets/img/icons/quotes.png", alt="quotes icon")
          .feedback__text
            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviewer
            .reviewer__pic
              img.reviever__pic_elem(src="assets/img/sabantsev.jpg", alt="photo")
            .reviewer__info
              span.reviewer__text.reviewer__text_font_bold.reviewer__text_color_accent Сабанцев Владимир
              span.reviewer__text.reviewer__text_color_accent преподаватель
      
      .feedback__form
        .title.text_font_35
          span.title__text Связаться со мной
        form.form#form_works
          .inputs__block
            input.input__item(type='text' placeholder='Имя' id='form_name' name='Name')
            input.input__item(type='email' placeholder='E-mail' id='form_email' name='email')
            textarea.input__item.input_min-height_140(placeholder='Ваше сообщение')
          .form__buttons
            button.button__item#form_send(type='submit')
              span.text_color_white Отправить
            button.button__item(type='reset')
              span.text_color_white Очистить
          
          .error-popup.error-popup_name Вы не ввели имя
          .error-popup.error-popup_email Вы не ввели email
      a.arrow-scroll_footer_up(href='#')
        +svg('arrow__up','portf_arrow_up')
        
      footer.footer.footer_flex
        .footer__row
          nav.footer__nav
            ul.footer__list
              li.footer__item
                a(href='works.html' class='footer__link') Мои работы
              li.footer__item
                a(href='about.html' class='footer__link') Обо мне
              li.footer__item
                a(href='blog.html' class='footer__link') Блог
              li.footer__item
                a(href='#' class='footer__link') Авторизация
          
          .footer__socials
            ul.socials.social_view_circle
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_vk`)
                  +svg('socials__icon socials__icon_footer','vk_round')
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_git`)
                  +svg('socials__icon socials__icon_footer','github_round')
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_in`)
                  +svg('socials__icon socials__icon_footer','in_round')
        
        .footer__row
          span.footer__text
            | Я веб-разработчик из Киева, и этот сайт я сделал в рамках<br> обучения в Школе онлайн образования LoftSchool. 
          span.footer__text.footer__text_copyright
            | © Андрей Секачев | создано с любовью в LoftSchool