mixin svg(addClass, addId)
  svg(class=addClass)
    use(xlink:href=`assets/img/sprite/sprite.svg#${addId}`)

.wrapper
  .maincontent
    include _header

    section.section.section__works
      .title.title_font_63px.title_align_center
        span.title__text.title__text_line-height_184px Мои работы
      .works__slider
        .works__slider_width_50
          .title.subtitle_font_35px.title_align_center
            span.title__text.title__text_margin-b_30px Сайт школы онлайн<br> образования
          .cources 
            span.cources__text html, css, javascript
          a.button__link(href="#") 
            span.button__text Посмотреть сайт
        .works__slider_width_50.works__slider_bgcolor_beige
          .slider__image_size_big
            img.slider_pic(src='assets/img/slider/work-1.png', alt='work-1')
          .sliders__image_small
            .slider__image_small_left
              img.slider_pic.slider_pic_small(src='assets/img/slider/work-2.png', alt='work-2')
              .header__arrow-scroll.arrow-scroll
                a.arrow-scroll__arrow.arrow-scroll__link_works(href='#')
                  +svg('arrow-scroll__arrow_works','arrow_down')
  
            .slider__image_small_right
              img.slider_pic.slider_pic_small(src='assets/img/slider/work-3.png', alt='work-3')
              .header__arrow-scroll.arrow-scroll
                a.arrow-scroll__arrow.arrow-scroll__link_works(href='#')
                  +svg('arrow-scroll__arrow_works arrow-scroll__arrow_works_up','arrow_down')
  
    .title.title_font_63px.title_align_center.title__mb_15px
      span.title__text Что обо мне<br> говорят 
    section.section.section__feedback      
      ul.feedback__list
        li.feedback__item
          .quotes.quotes_align_left
            img.quotes__icon(src="assets/img/icons/quotes.svg", alt="quotes icon")
          .feedback__text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviewer
            .reviewer__pic
              img.reviever__pic_elem(src="assets/img/koval.jpg", alt="photo")
            .reviewer__info
              span.reviewer__text.reviewer__text_font_bold.reviewer__text_color_accent Ковальчук Дмитрий
              span.reviewer__text.reviewer__text_color_accent основатель Loftschool
              
        li.feedback__item
          .quotes.quotes_align_left
            img.quotes__icon(src="assets/img/icons/quotes.svg", alt="quotes icon")
          .feedback__text
            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviewer
            .reviewer__pic
              img.reviever__pic_elem(src="assets/img/sabantsev.jpg", alt="photo")
            .reviewer__info
              span.reviewer__text.reviewer__text_font_bold.reviewer__text_color_accent Сабанцев Владимир
              span.reviewer__text.reviewer__text_color_accent преподаватель
      
      .feedback__form
        .title.subtitle_font_35px
          span.title__text Связаться со мной
        form.form
          .inputs__block
            input.input__item(type='text' placeholder='Имя')
            input.input__item(type='email' placeholder='E-mail')
            textarea.input__item.input__item_min-height_140px(placeholder='Ваше сообщение')
          .form__buttons
            input.button__item(type='submit' value='Отправить')
            input.button__item(type='reset' value='Очистить')
      a.arrow-scroll__arrow.arrow-scroll__up(href='#')
        +svg('arrow__up','portf_arrow_up')
        
      footer.footer.footer_position_absolute
        .footer__row
          nav.footer__nav
            ul.footer__list
              li.footer__item
                a(href='works.html' class='footer__link') Мои работы
              li.footer__item
                a(href='about.html' class='footer__link') Обо мне
              li.footer__item
                a(href='blog.html' class='footer__link') Блог
              li.footer__item
                a(href='#' class='footer__link') Авторизация
          
          .footer__socials.social-view-circle
            ul.socials__list.socials__list_margin_0
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_vk`)
                  +svg('socials__icon socials__icon_footer','vk_round')
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_git`)
                  +svg('socials__icon socials__icon_footer','github_round')
              li.socials__item
                a(href='#' class=`socials__link socials__link_footer socials__link_in`)
                  +svg('socials__icon socials__icon_footer','in_round')
        
        .footer__row
          span.footer__text
            | Я веб-разработчик из Киева, и этот сайт я сделал в рамках<br> обучения в Школе онлайн образования LoftSchool. 
          span.footer__text.footer__text_copyright
            | © Андрей Секачев | создано с любовью в LoftSchool