.section_about {
  display: flex;
}
.about-descr {
  display: flex;
  background-color: $grey;
  padding: 0 20px;
}
.about-descr__title {
  margin-right: 30px;
  background: url('../img/about_header_bg.png') no-repeat center top;
  background-size: contain;
}
.about__skills {
  background-color: $beige;
  padding: 0 20px 0 40px;
}
.about__descr .title__text {
  align-self: flex-start;
}
.about__user_pic {
  max-width: 100%;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding: 0 70px 40px 30px;
}
.contacts__item {
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }
}
.contacts_color_cyan .contacts__icon {
  fill: rgba($accent-color, .5);
}
.contacts__item {
  display: flex;
}
.contacts__text {
  margin-left: 10px;
}