.section__about {
  display: flex;
}
.about_column_left, .about_column_right {
  // flex-grow: 1;
  flex-basis: 50%;
  background-color: $grey;
}
.about_column_left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about_column_right {
  background-color: $beige;
}
.about__title, .about-user{
  // flex-grow: 1;
  flex-basis: 50%;
}
.about-user {
  margin-right: 22px;
}
.about-user__image {
  text-align: right;
}
.about-user__pic {
  width: 100%;
  height: auto;
  max-width: $max-image-size;
}
.about-user__text {
  padding-right: 22px;
}
.title_pic-transparent {
  width: 360px;
  height: auto;
}
.contacts__list {
  text-align: left;
  padding: 18px 72px 20px 42px;
}
.contacts__item {
  margin: 10px 0 28px;
  &:last-child {
    margin-bottom: 0;
  }
}
.contacts__icon, .contacts__text {
  display: inline-block;
  vertical-align: middle;
}
.contacts__icon {
  margin-right: 10px;
}
.about-user-info__text {
  padding: 0 30px 0 38px;
}