.blog__title_header {
  background: url('../img/blog_header.png') no-repeat center center;
  background-size: cover;
}
.header.header_blog {
  height: 496px;
  background-position: 0 0;
  padding: 28px 0 0 0;
  margin-bottom: 70px;
  &::before {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(#016672, .3);
  }
}
.section_blog {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.aside {
  margin-right: 120px;
  &_width_20 {
    flex-basis: 20%;
  }
}
.section__content_width_60 {
  flex-basis: 60%;
}
.aside__list {
  text-align: right;
}
.aside__link {
  text-decoration: none;
  padding: 14px 18px;
  border-right: 3px solid transparent;
  display: block;
  color: $main-color;
  &:hover {
    color: $accent-color;
    border-right-color: $accent-color;
    font-family: 'robotobold';
  }
}
.article__blog.subtitle_align_left {
  align-self: flex-start;
}
.article__date {
  color: $accent-color;
  margin: 30px 0;
}
.article__code {
  position: relative;
  margin-bottom: 140px;
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -70px;
    height: 5px;
    width: 70%;
    background-color: rgba($main-color, .07);
  }
}
.article__code_image {
  width: 100%;
}