.footer {
  &_position_absolute {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($main-color, .85);
  }
  &_flex {
    width: 100%;
    background-color: rgba($main-color, .85);
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(#fff, .1);
  @include laptop {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.footer__list {
  margin-left: 30px;
  display: flex;
  @include phone {
    margin-left: 10px;
  }
}
.footer__item {
  margin-right: 40px;
  @include phone {
    margin-right: 10px;
  }
}
.footer__link {
  text-decoration: none;
  display: block;
  color: rgba(#fff, .5);
  padding-top: 24px;
  padding-bottom: 24px;
  &:hover {
    color: #fff;
  }
  @include phone {
    padding-top: 30px;
    padding-bottom: 18px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
}
.social_view_circle {
  margin-right: 30px;
  @include laptop {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.socials__item_footer {
  margin-left: 10px;
  border: 1px solid rgba(#fff, .5);
  border-radius: 50%;
}
.socials__link_footer {
  text-decoration: none;
  height: 40px;
  width: 40px;
  display: block;
  &:hover .socials__icon_footer {
    fill: #fff;
  }
}
.socials__icon_footer {
  fill: rgba(#fff,.50);
  width: 100%;
  height: 100%;
}
.footer__text {
  font-family: 'robotolight';
  color: rgba(#fff, .5);
  padding: 14px 30px;
  text-align: center;
  @include laptop {
    padding: 7px 0;
    text-align: center;
  }
}
.footer__text_copyright {
  padding-top: 24px;
  @include laptop {
    padding-top: 0;
  }
}