.section_map {
  background: url('../img/map.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts_wrap {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phone {
    justify-content: flex-start;
  }
}
.contacts {
  background-color: rgba(#fff, .85);
}
.contacts__icon {
  width: 24px;
  height: 24px;
  fill: $accent-color;
}