.section-welcome {
  background:url('assets/img/main-bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box__welcome {
  background-color: rgba(#fff, .85);
}
.login-box__subtitle{
  margin-bottom: 36px;
}
.socials__list_margin-b_36px {
  margin-bottom: 36px;
}
.socials__item {
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
}
.socials__link:hover .socials__icon_color_cyan {
  fill: $accent-color;
}
.socials__icon_color_cyan {
  fill: rgba($accent-color, .5);
}
.navigation__list {
  display: flex; 
  justify-content: space-between;
}
.navigation__item {
  border-right: 1px solid #fff;
  &:last-child{
    border: none;
  }
}
.navigation__link {
  padding: 14px 32px;
  background-color: rgba($accent-color, .85);
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    background-color: #009688;
  }
}
.welcome__footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}
 .footer__copyright {
   color: #fff;
   font-family: 'robotolight'; 
 }