.section__works {
  background-image: url('../img/works_header_bg.png');
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: 50% 0;
}
.slider.works__slider {
  display: flex;
}
.slider__image_size_big {
  margin-top: 66px;
  margin-bottom: 44px;
}
.works__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $grey;
}
.works__slider_bgcolor_beige {
  background-color: $beige;
}
.works__slider_width_50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.sliders__image_small {
  font-size: 0;
}
.slider_pic_small {
  max-width: 100%;
}
.slider__image_small_left, 
.slider__image_small_right {
  display: inline-block;
  width: 50%;
  height: auto;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay;
  }
}
.cources {
  padding: 18px 130px;
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  white-space: nowrap;
  margin-bottom: 42px;
}
.cources__text {
  color: $accent-color;
  text-transform: uppercase;
}