.section_feedback {
  background-image: url('../img/reviews.jpg'), url('../img/blur_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover, cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.feedback__list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  @include phone {
    flex-direction: column;
  }
}
.feedback__item {
  max-width: 390px;
  text-align: left;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quotes {
  align-self: flex-start;
}
.reviewer {
  display: flex;
  align-items: center;
  align-self: flex-start;
}
.reviewer__info {
  display: flex;
  flex-direction: column;
}
.reviewer__pic {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.reviever__pic_elem {
  width: 78px;
}
.reviewer__text_color_accent {
  color: $accent-color;
}
.reviewer__text_font_bold {
  font-family: 'robotobold';
}