.button {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 14px 28px;
  background-color: transparent;
  &:hover {
    background-color: #fff;
  }
}
.button:hover .text_color_accent {
  color: $accent-color;
}
.button_pos_absolute {
  position: absolute;
  top: 24px;
  right: 100px;
  @include phone {
    right: 50%;
    transform: translateX(50%);
  }
}
.button_link {
  position: relative;
  padding: 14px 32px 14px 50px;
  background-color: rgba(0, 191, 165, 0.85);
  border-radius: 4px;
  text-decoration: none;
  align-self: center;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    background: url('../img/icons/link.svg') no-repeat center center;
    background-size: contain;
    height: 22px;
    width: 22px; 
  }
  &:hover {
    background-color: #009688;
  }
}