.flip-container {
  perspective: 1000;
}
.visible-back .flipper {
  transform: rotateY(180deg);
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  position: relative;
  display: flex;
}
.login-box__welcome {
	backface-visibility: hidden;
}
.login-block {
	backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.login-block {
  transform: rotateY(180deg);
}