.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background: url('../img/form_blur.png') no-repeat 100% 100%;
  background-size: cover;
  padding-top: 30px;
  margin-bottom: 70px;
}
.inputs__block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 18px;
}
.input__item {
  width: 340px;
  padding: 18px;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.input__item_min-height_140px {
  min-height: 140px;
}
.form__buttons {
  display: flex;
}
.button__item {
  padding: 14px 32px;
  background-color: rgba($accent-color, .85);
  color: #fff;
  text-decoration: none;
  width: 50%;
  border-style: none;
  border-right: 1px solid #fff;
  &:last-child {
    border: none;
  }
  &:hover {
    background-color: #009688;
  }
}