.login-box {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.login-box__pic {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 18px;
}
.login-box__title {
  text-transform: uppercase;
  font-family: 'robotomedium';
}