.text_color_white {
  color: #fff;
}
.text_size_28 {
  font-size: 28px;
  @include phone {
    font-size: 21px;
  }
}
.text_font_63 {
  font-size: 63px;
  @include tablets {
    font-size: 49px;
  }
  @include phone {
    font-size: 35px;
  }
}
.text_align_center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.text_font_35 {
  font-size: 35px;
   @include tablets {
    font-size: 30px;
  }
  @include phone {
    font-size: 21px;
  }
}
.text_mb_30 {
  margin-bottom: 30px;
}
.text_line-height_184 {
  line-height: 184px;
}
.text_mb_15 {
  margin-bottom: 15px;
}