.title,  {
  font-family: 'bernier_regularregular';
  color: $main-color;
}
.subtitle {
  display: flex;
  justify-content: center;
}
.title__text, .title__text_white {
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($main-color, .2);
    width: 22px;
    height: 5px;
  }
  &:after {
    right: -40px;
  }
  &:before {
    left: -40px;
  }
}
.title__text_white {
  &:before, &:after {
    background-color: rgba(#fff, .4);
  }
}
.title__text_margin-b_30px {
    margin-bottom: 30px;
}
.title__blog_header {
  color: #fff;
}
.about__title_transparent {
  position: absolute;
  top: -31px;
  left: 12px;
}