.triangles {
  height: 100px;
  width: 100%;
  z-index: 50;
  &_pos_absolute {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &_fill_grey {
    fill: $grey;
  }
  &_fill_beige {
    fill: $beige;
  }
  &_fill_white {
    fill: #fff;
  }
}