//Vars
$container-width: 960px;
$max-image-size: 443px;
$main-color: #455a64;
$accent-color: #00bfa5;
$overlay: rgba(#b6b4ae, .7);
$blog-overlay: rgba(#016672, .3);
$grey : #efeee9;
$beige: #eeebdf;
$main-font-color : #373e42;

//layout
* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", sans-serif;
	color: $main-color;
}
.wrapper {
	height: 100%;
	position: relative;
}
.maincontent {
	height: 100%;
	transform: translate3d(0, 0, 0);
}
.header, .section {
	position: relative;
	background-size: cover;
}
.section_height_100vh {
	height: 100vh;
	min-height: 650px;
	position: relative;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	font-weight: normal;
}
table, th, td {
	border-collapse: collapse;
}
img {
	height: auto;
}
textarea {
  resize: vertical;
}